<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.cloudnote.dao.NoteDao">
<sql id="col">
	n_id as id,
	nb_id as notebookId,
	n_title as title,
	n_body as body,
	n_modify_time as modifyTime
</sql>

    <insert id="add">
		insert into cn_note(n_id, nb_id, n_title, n_modify_time ) values(#{id},#{notebookId}, #{title},#{modifyTime})
	</insert>
	<update id="update">
		update cn_note set  n_title = #{title}, n_body = #{body}, n_modify_time = #{modifyTime} where n_id = #{id}
	</update>
	<update id="move">
		update cn_note set   nb_id = #{notebookId} where n_id = #{id}
	</update>
	<delete id="delete">
			delete from  cn_note where  n_id=#{id}
	</delete>
	<delete id="deleteByNotebookId">
			delete from  cn_note where  nb_id=#{notebookId}
	</delete>

	<select id="findByNotebookId" resultType="com.oracle.hrb.cloudnote.entity.Note">
		select <include refid="col"/> from cn_note where nb_id =#{id}
	</select>
</mapper>
